@model TestApp.Models.DimensionViewModel
<div class="input">
    <div class="input-group">
        <span class="input-group-addon">@nameof(Model.Depth)</span>
        @Html.TextArea(Model.Depth)
    </div>
    <div class="input-group">
        <span class="input-group-addon">@nameof(Model.Width)</span>
        @Html.TextArea(Model.Width)
    </div>
    <div class="input-group">
        <span class="input-group-addon">@nameof(Model.Height)</span>
        @Html.TextArea(Model.Height)
    </div>
    <div class="input-group">
        <span class="input-group-addon">@nameof(Model.Weight)</span>
        @Html.TextArea(Model.Weight)
    </div>
</div>
